# Using LangChain and LLMs to Analyze Data in Amazon RDS

Demonstration of [LangChain SQL Chain](https://python.langchain.com/en/latest/modules/chains/examples/sqlite.html) (`SQLDatabaseChain` and `SQLDatabaseSequentialChain`) and [SQL Database Agent](https://python.langchain.com/en/latest/modules/agents/toolkits/examples/sql_database.html) to analyze the data in an [Amazon RDS for PostgreSQL](https://aws.amazon.com/rds/postgresql/) database. Demonstration uses OpenAI's LLMs via an API.

Author: Gary A. Stafford  
Date: 2023-05-29  
License: MIT  
Kernal: `conda_python3`  
References:
- [LangChain Documentation: SQL Chain example](https://python.langchain.com/en/latest/modules/chains/examples/sqlite.html#sql-chain-example)
- [LangChain Blog: LLMs and SQL](https://blog.langchain.dev/llms-and-sql/)
- [How do davinci and text-davinci-003 differ?
](https://help.openai.com/en/articles/6643408-how-do-davinci-and-text-davinci-003-differ)
- [How do text-davinci-002 and text-davinci-003 differ?
](https://help.openai.com/en/articles/6779149-how-do-text-davinci-002-and-text-davinci-003-differ)

## Prerequisites

1. Import [The Museum of Modern Art (MoMA) Collection database](https://github.com/MuseumofModernArt/collection), found on GitHub, into an [Amazon RDS for PostgreSQL](https://aws.amazon.com/rds/postgresql/) database.

2. Create a new [Amazon SageMaker notebook instance](https://docs.aws.amazon.com/sagemaker/latest/dg/nbi.html) for this demonstration. Make sure your RDS instance is accessible to your SageMaker Notebook environment.

3. `git clone` this post's GitHub project to your Amazon SageMaker notebook instance.

4. Create or update the `.env` file, used by `dotenv`, using the terminal in your SageMaker Notebook environment. A sample `env.txt` file in the project.

5. Add your RDS database credentials to the file: `RDS_ENDPOINT`, `RDS_PORT`, `RDS_USERNAME`, `RDS_PASSWORD`, `RDS_DB_NAME`. See this post's GitHub project for an example.

6. Create an OpenAI account and update the `.env` file to include your OpenAI API Key.

__NOTE__: When using `dotenv`, credentials will be stored in plain text. The recommended and more secure method is to use [AWS Secrets Manager](https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html).

## Install Required Packages

In [52]:
# Avoid the error:
# huggingface/tokenizers: The current process just got forked, after parallelism has already been used.
# Disabling parallelism to avoid deadlocks...
os.environ["TOKENIZERS_PARALLELISM"] = "false"

In [53]:
# Optional: update pip
%pip install pip -Uq

# Install the latest versions of langchain and openai
%pip install langchain openai -Uq

# Install latest versions of other required packages
%pip install ipywidgets awscli boto3 python-dotenv SQLAlchemy psycopg2-binary -Uq

Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

In [54]:
# Check verions of LangChain and OpenAI
%pip list | grep "langchain\|openai"

langchain                     0.0.186
openai                        0.27.7
Note: you may need to restart the kernel to use updated packages.

In [22]:
import os
from langchain import SQLDatabase, SQLDatabaseChain, OpenAI
from langchain.chains import SQLDatabaseSequentialChain

# Setup Environment Variable

Use `dotenv` to load the OpenAI and RDS environment variables. __NOTE__: credentials will be stored in plain text. The recommended, more secure method is to use [AWS Secrets Manager](https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html).

In [23]:
# Load env vars from .env file
%load_ext dotenv

# %reload_ext dotenv

%dotenv

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [24]:
# SQLAlchemy 2.0 reference: https://docs.sqlalchemy.org/en/20/dialects/postgresql.html
# URI format: postgresql+psycopg2://user:pwd@hostname:port/dbname

RDS_DB_NAME = os.environ.get("RDS_DB_NAME")
RDS_ENDPOINT = os.environ.get("RDS_ENDPOINT")
RDS_PASSWORD = os.environ.get("RDS_PASSWORD")
RDS_PORT = os.environ.get("RDS_PORT")
RDS_USERNAME = os.environ.get("RDS_USERNAME")
RDS_URI = f"postgresql+psycopg2://{RDS_USERNAME}:{RDS_PASSWORD}@{RDS_ENDPOINT}:{RDS_PORT}/{RDS_DB_NAME}"

# print URI
RDS_URI_PRINT = RDS_URI.replace(RDS_ENDPOINT, "******.******.us-east-1.rds.amazonaws.com")
RDS_URI_PRINT = RDS_URI_PRINT.replace(RDS_PASSWORD, "******")
print(RDS_URI_PRINT)

postgresql+psycopg2://langchain:******@******.******.us-east-1.rds.amazonaws.com:5432/moma

## LangChain OpenAI

Use OpenAI's `text-davinci-003` LLM. See OpenAI's [Models Overview](https://platform.openai.com/docs/models/overview) for model information.

In [25]:
llm = OpenAI(model_name="text-davinci-003", temperature=0, verbose=True)

## Using LangChain's SQL Chain

Next, we will use LangChain's [SQLDatabaseChain](https://python.langchain.com/en/latest/modules/chains/examples) and [SQLDatabaseSequentialChain](https://python.langchain.com/en/latest/modules/chains/examples/sqlite.html#sqldatabasesequentialchain) for answering questions of the MoMA database.

In [26]:
# A few sample questions
QUESTION_01 = "How many artists are there?"
QUESTION_02 = "How many artworks are there?"
QUESTION_03 = "How many rows are in the artists table?"
QUESTION_04 = "How many rows are in the artworks table?"
QUESTION_05 = "How many artists are there whose nationality is French?"
QUESTION_06 = "How many artworks were created by artists whose nationality is Spanish?"
QUESTION_07 = "How many artist names start with 'M'?"
QUESTION_08 = "What nationality produced the most number of artworks?"
QUESTION_09 = "How many artworks are by Claude Monet?"
QUESTION_10 = "What is the oldest artwork in the collection?"

In [31]:
from sqlalchemy.exc import ProgrammingError

db = SQLDatabase.from_uri(RDS_URI)

db_chain = SQLDatabaseSequentialChain.from_llm(
    llm, db, verbose=True, use_query_checker=True
)

try:
    db_chain.run(QUESTION_05)
except (ProgrammingError, ValueError) as exc:
    print(f"\n\n{exc}")

> Entering new SQLDatabaseSequentialChain chain...
Table names to use:
['artists']

> Entering new SQLDatabaseChain chain...
How many artist names start with 'M'?
SQLQuery:SELECT COUNT(*) FROM artists WHERE name LIKE 'M%';
SQLResult: [(1247,)]
Answer:1247 artist names start with 'M'.
> Finished chain.

> Finished chain.

"1247 artist names start with 'M'."

## More Options: Custom Table Info and Query Checker

According to LangChain's [documentation](https://python.langchain.com/en/latest/modules/chains/examples/sqlite.html#custom-table-info), "_In some cases, it can be useful to provide custom table information instead of using the automatically generated table definitions and the first sample_rows_in_table_info sample rows._" Of course, this is impractical when dealing with a large number of tables.

"_Sometimes the Language Model generates invalid SQL with small mistakes that can be self-corrected using the same technique used by the SQL Database Agent to try and fix the SQL using the LLM. You can simply specify this option when creating the chain:

_
According to LangChain's [documentation](https://python.langchain.com/en/latest/modules/chains/examples/sqlite.html#adding-example-rows-from-each-table), "_Sometimes the Language Model generates invalid SQL with small mistakes that can be self-corrected using the same technique used by the SQL Database Agent to try and fix the SQL using the LLM._"

In [28]:
custom_table_info = {
    "artists": """CREATE TABLE artists (
        artist_id integer NOT NULL,
        name character varying(200)",
        nationality character varying(50)",
        gender character varying(25)",
        birth_year integer,
        death_year integer,
        CONSTRAINT artists_pk PRIMARY KEY (artist_id)
)

/*
3 rows from artists table:
"artist_id"	"name"	"nationality"	"gender"	"birth_year"	"death_year"
12	"Jüri Arrak"	"Estonian"	"Male"	1936	
19	"Richard Artschwager"	"American"	"Male"	1923	2013
22	"Isidora Aschheim"	"Israeli"	"Female"		
*/""",
    "artworks": """CREATE TABLE artworks (
        artwork_id integer NOT NULL,
        title character varying(500)",
        artist_id integer NOT NULL,
        name character varying(500)",
        date integer,
        medium character varying(250)",
        dimensions text",
        acquisition_date text",
        credit text",
        catalogue character varying(250)",
        department character varying(250)",
        classification character varying(250)",
        object_number text",
        diameter_cm text",
        circumference_cm text",
        height_cm text",
        length_cm text",
        width_cm text",
        depth_cm text",
        weight_kg text",
        durations integer,
        CONSTRAINT artworks_pk PRIMARY KEY (artwork_id)
)

/*
3 rows from artworks table:
"artwork_id"	"title"	"artist_id"	"name"	"date"	"medium"	"dimensions"	"acquisition_date"	"credit"	"catalogue"	"department"	"classification"	"object_number"	"diameter_cm"	"circumference_cm"	"height_cm"	"length_cm"	"width_cm"	"depth_cm"	"weight_kg"	"durations"
102312	"Watching the Game"	2422	"John Gutmann"	1934	"Gelatin silver print"	"9 3/4 x 6 7/16' (24.8 x 16.4 cm)"	"2006-05-11"	"Purchase"	"N"	"Photography"	"Photograph"	"397.2006"			"24.8"		"16.4"			
103321	"Untitled (page from Sump)"	25520	"Jerome Neuner"	1994	"Page with chromogenic color print and text"	"12 x 9 1/2' (30.5 x 24.1 cm)"	"2006-05-11"	"E.T. Harmax Foundation Fund"	"N"	"Photography"	"Photograph"	"415.2006.12"			"30.4801"		"24.13"			
10	"The Manhattan Transcripts Project, New York, New York, Episode 1: The Park"	7056	"Bernard Tschumi"		"Gelatin silver photograph"	"14 x 18' (35.6 x 45.7 cm)"	"1995-01-17"	"Purchase and partial gift of the architect in honor of Lily Auchincloss"	"Y"	"Architecture & Design"	"Architecture"	"3.1995.11"			"35.6"		"45.7"			
*/""",
}

In [40]:
db = SQLDatabase.from_uri(
    RDS_URI,
    include_tables=["artists", "artworks"],
    sample_rows_in_table_info=3,
    custom_table_info=custom_table_info,
)

# print(db.table_info)

db_chain = SQLDatabaseSequentialChain.from_llm(
    llm, db, verbose=True, use_query_checker=True, top_k=3
)

try:
    db_chain.run(QUESTION_06)
except (ProgrammingError, ValueError) as exc:
    print(f"\n\n{exc}")

> Entering new SQLDatabaseChain chain...
How many artworks were created by artists whose nationality is Spanish?
SQLQuery:SELECT COUNT(*) FROM artworks
INNER JOIN artists ON artworks.artist_id = artists.artist_id
WHERE artists.nationality = 'Spanish';
SQLResult: [(2922,)]
Answer:2922 artworks were created by artists whose nationality is Spanish.
> Finished chain.

'2922 artworks were created by artists whose nationality is Spanish.'

## Customize Prompt and Return Intermediate Steps

For this part of the demonstration, we will also use a `PromptTemplate`. LangChain's [Prompt Templates](https://python.langchain.com/en/latest/modules/prompts/prompt_templates.html). According to LangChain, "_A prompt template refers to a reproducible way to generate a prompt. It contains a text string (“the template”), that can take in a set of parameters from the end user and generate a prompt._"

According to LangChain's [documentation](https://python.langchain.com/en/latest/modules/chains/examples/sqlite.html#return-intermediate-steps), "_You can also return the intermediate steps of the `SQLDatabaseChain`. This allows you to access the SQL statement that was generated, as well as the result of running that against the SQL Database._"

In [49]:
from langchain.prompts.prompt import PromptTemplate

_DEFAULT_TEMPLATE = """Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Use the following format:

Question: "Question here"
SQLQuery: "SQL Query to run"
SQLResult: "Result of the SQLQuery"
Answer: "Final answer here"

Only use the following tables:

{table_info}

If someone asks for the table art, they really mean the artworks table.

Only single quotes in the SQLQuery.

Question: {input}"""

PROMPT = PromptTemplate(
    input_variables=["input", "table_info", "dialect"], template=_DEFAULT_TEMPLATE
)

db_chain = SQLDatabaseChain.from_llm(
    llm,
    db,
    prompt=PROMPT,
    verbose=True,
    use_query_checker=True,
    return_intermediate_steps=True,
)

try:
    result = db_chain(QUESTION_09)
except (ProgrammingError, ValueError) as exc:
    print(f"\n\n{exc}")

result["intermediate_steps"]

> Entering new SQLDatabaseChain chain...
How many artworks are by Claude Monet?
SQLQuery:SELECT COUNT(*) FROM artworks
JOIN artists ON artworks.artist_id = artists.artist_id
WHERE artists.name = 'Claude Monet';
SQLResult: [(6,)]
Answer:6 artworks are by Claude Monet.
> Finished chain.

[{'input': "How many artworks are by Claude Monet?\nSQLQuery:SELECT COUNT(*) FROM artworks \nJOIN artists ON artworks.artist_id = artists.artist_id \nWHERE artists.name = 'Claude Monet';\nSQLResult: [(6,)]\nAnswer:",
  'top_k': '5',
  'dialect': 'postgresql',
  'table_info': 'CREATE TABLE artists (\n        artist_id integer NOT NULL,\n        name character varying(200)",\n        nationality character varying(50)",\n        gender character varying(25)",\n        birth_year integer,\n        death_year integer,\n        CONSTRAINT artists_pk PRIMARY KEY (artist_id)\n)\n\n/*\n3 rows from artists table:\n"artist_id"\t"name"\t"nationality"\t"gender"\t"birth_year"\t"death_year"\n12\t"Jüri Arrak"\t"Estonian"\t"Male"\t1936\t\n19\t"Richard Artschwager"\t"American"\t"Male"\t1923\t2013\n22\t"Isidora Aschheim"\t"Israeli"\t"Female"\t\t\n*/\n\nCREATE TABLE artworks (\n        artwork_id integer NOT NULL,\n        title character varying(500)",\n        artist_id integer NOT NULL,\n        name character varying(500)",\n        date integer,\n        medium character varying(250)",\n        dimensions text",\n        acquisition_date text",\n        credit text",\n        catalogue character varying(250)",\n        department character varying(250)",\n        classification character varying(250)",\n        object_number text",\n        diameter_cm text",\n        circumference_cm text",\n        height_cm text",\n        length_cm text",\n        width_cm text",\n        depth_cm text",\n        weight_kg text",\n        durations integer,\n        CONSTRAINT artworks_pk PRIMARY KEY (artwork_id)\n)\n\n/*\n3 rows from artworks table:\n"artwork_id"\t"title"\t"artist_id"\t"name"\t"date"\t"medium"\t"dimensions"\t"acquisition_date"\t"credit"\t"catalogue"\t"department"\t"classification"\t"object_number"\t"diameter_cm"\t"circumference_cm"\t"height_cm"\t"length_cm"\t"width_cm"\t"depth_cm"\t"weight_kg"\t"durations"\n102312\t"Watching the Game"\t2422\t"John Gutmann"\t1934\t"Gelatin silver print"\t"9 3/4 x 6 7/16\' (24.8 x 16.4 cm)"\t"2006-05-11"\t"Purchase"\t"N"\t"Photography"\t"Photograph"\t"397.2006"\t\t\t"24.8"\t\t"16.4"\t\t\t\n103321\t"Untitled (page from Sump)"\t25520\t"Jerome Neuner"\t1994\t"Page with chromogenic color print and text"\t"12 x 9 1/2\' (30.5 x 24.1 cm)"\t"2006-05-11"\t"E.T. Harmax Foundation Fund"\t"N"\t"Photography"\t"Photograph"\t"415.2006.12"\t\t\t"30.4801"\t\t"24.13"\t\t\t\n10\t"The Manhattan Transcripts Project, New York, New York, Episode 1: The Park"\t7056\t"Bernard Tschumi"\t\t"Gelatin silver photograph"\t"14 x 18\' (35.6 x 45.7 cm)"\t"1995-01-17"\t"Purchase and partial gift of the architect in honor of Lily Auchincloss"\t"Y"\t"Architecture & Design"\t"Architecture"\t"3.1995.11"\t\t\t"35.6"\t\t"45.7"\t\t\t\n*/',
  'stop': ['\nSQLResult:']},
 "SELECT COUNT(*) FROM artworks \nJOIN artists ON artworks.artist_id = artists.artist_id \nWHERE artists.name = 'Claude Monet';",
 {'sql_cmd': "SELECT COUNT(*) FROM artworks \nJOIN artists ON artworks.artist_id = artists.artist_id \nWHERE artists.name = 'Claude Monet';"},
 '[(6,)]',
 {'input': "How many artworks are by Claude Monet?\nSQLQuery:SELECT COUNT(*) FROM artworks \nJOIN artists ON artworks.artist_id = artists.artist_id \nWHERE artists.name = 'Claude Monet';\nSQLResult: [(6,)]\nAnswer:",
  'top_k': '5',
  'dialect': 'postgresql',
  'table_info': 'CREATE TABLE artists (\n        artist_id integer NOT NULL,\n        name character varying(200)",\n        nationality character varying(50)",\n        gender character varying(25)",\n        birth_year integer,\n        death_year integer,\n        CONSTRAINT artists_pk PRIMARY KEY (artist_id)\n)\n\n/*\n3 rows from artists table:\n"artist_id"\t"name"\t"nationality"\t"gender"\t"birth_year"\t"death_year"\n12\t"Jüri Arrak"\t"Estonian"\t"Male"\t1936\t\n19\t"Richard Artschwager"\t"American"\t"Male"\t1923\t2013\n22\t"Isidora Aschheim"\t"Israeli"\t"Female"\t\t\n*/\n\nCREATE TABLE artworks (\n        artwork_id integer NOT NULL,\n        title character varying(500)",\n        artist_id integer NOT NULL,\n        name character varying(500)",\n        date integer,\n        medium character varying(250)",\n        dimensions text",\n        acquisition_date text",\n        credit text",\n        catalogue character varying(250)",\n        department character varying(250)",\n        classification character varying(250)",\n        object_number text",\n        diameter_cm text",\n        circumference_cm text",\n        height_cm text",\n        length_cm text",\n        width_cm text",\n        depth_cm text",\n        weight_kg text",\n        durations integer,\n        CONSTRAINT artworks_pk PRIMARY KEY (artwork_id)\n)\n\n/*\n3 rows from artworks table:\n"artwork_id"\t"title"\t"artist_id"\t"name"\t"date"\t"medium"\t"dimensions"\t"acquisition_date"\t"credit"\t"catalogue"\t"department"\t"classification"\t"object_number"\t"diameter_cm"\t"circumference_cm"\t"height_cm"\t"length_cm"\t"width_cm"\t"depth_cm"\t"weight_kg"\t"durations"\n102312\t"Watching the Game"\t2422\t"John Gutmann"\t1934\t"Gelatin silver print"\t"9 3/4 x 6 7/16\' (24.8 x 16.4 cm)"\t"2006-05-11"\t"Purchase"\t"N"\t"Photography"\t"Photograph"\t"397.2006"\t\t\t"24.8"\t\t"16.4"\t\t\t\n103321\t"Untitled (page from Sump)"\t25520\t"Jerome Neuner"\t1994\t"Page with chromogenic color print and text"\t"12 x 9 1/2\' (30.5 x 24.1 cm)"\t"2006-05-11"\t"E.T. Harmax Foundation Fund"\t"N"\t"Photography"\t"Photograph"\t"415.2006.12"\t\t\t"30.4801"\t\t"24.13"\t\t\t\n10\t"The Manhattan Transcripts Project, New York, New York, Episode 1: The Park"\t7056\t"Bernard Tschumi"\t\t"Gelatin silver photograph"\t"14 x 18\' (35.6 x 45.7 cm)"\t"1995-01-17"\t"Purchase and partial gift of the architect in honor of Lily Auchincloss"\t"Y"\t"Architecture & Design"\t"Architecture"\t"3.1995.11"\t\t\t"35.6"\t\t"45.7"\t\t\t\n*/',
  'stop': ['\nSQLResult:']},
 '6 artworks are by Claude Monet.']

## Using Few-shot Learning

To improve the accuracy of the SQL query, LangChain allows us to use few-shot learning (aka few-shot prompting). According to [Wikipedia](https://en.wikipedia.org/wiki/In-context_learning_(natural_language_processing), "_In natural language processing, in-context learning, few-shot learning or few-shot prompting is a prompting technique that allows a model to process examples before attempting a task. The method was popularized after the advent of GPT-3 and is considered to be an emergent property of large language models._"

In [12]:
%pip install pyyaml
%pip chromadb sentence_transformers -Uq

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Requirement already satisfied: pyyaml in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (5.4.1)
Note: you may need to restart the kernel to use updated packages.
ERROR: unknown command "chromadb"
Note: you may need to restart the kernel to use updated packages.

In [13]:
from typing import Dict
import yaml

chain = SQLDatabaseChain.from_llm(
    llm, db, verbose=True, return_intermediate_steps=True, use_query_checker=True
)


def _parse_example(result: Dict) -> Dict:
    sql_cmd_key = "sql_cmd"
    sql_result_key = "sql_result"
    table_info_key = "table_info"
    input_key = "input"
    final_answer_key = "answer"

    _example = {
        "input": result.get("query"),
    }

    steps = result.get("intermediate_steps")
    answer_key = sql_cmd_key  # the first one
    for step in steps:
        # The steps are in pairs, a dict (input) followed by a string (output).
        # Unfortunately there is no schema but you can look at the input key of the
        # dict to see what the output is supposed to be
        if isinstance(step, dict):
            # Grab the table info from input dicts in the intermediate steps once
            if table_info_key not in _example:
                _example[table_info_key] = step.get(table_info_key)

            if input_key in step:
                if step[input_key].endswith("SQLQuery:"):
                    answer_key = sql_cmd_key  # this is the SQL generation input
                if step[input_key].endswith("Answer:"):
                    answer_key = final_answer_key  # this is the final answer input
            elif sql_cmd_key in step:
                _example[sql_cmd_key] = step[sql_cmd_key]
                answer_key = sql_result_key  # this is SQL execution input
        elif isinstance(step, str):
            # The preceding element should have set the answer_key
            _example[answer_key] = step
    return _example


example: any
try:
    result = chain(QUESTION_08)
    print("\n*** Query succeeded")
    example = _parse_example(result)
except Exception as exc:
    print("\n*** Query failed")
    result = {"query": QUESTION_08, "intermediate_steps": exc.intermediate_steps}
    example = _parse_example(result)


# print for now, in reality you may want to write this out to a YAML file or database for manual fix-ups offline
yaml_example = yaml.dump(example, allow_unicode=True)
print("\n" + yaml_example)

> Entering new SQLDatabaseChain chain...
What nationality produced the most number of artworks?
SQLQuery:SELECT nationality, COUNT(*) AS num_artworks
FROM artists
INNER JOIN artworks ON artists.artist_id = artworks.artist_id
WHERE nationality IS NOT NULL
GROUP BY nationality
ORDER BY num_artworks DESC
LIMIT 5;
SQLResult: [('American', 53955), ('French', 22116), ('German', 8920), ('British', 5480), ('', 3273)]
Answer:The nationality that produced the most number of artworks is American.
> Finished chain.

*** Query succeeded

answer: The nationality that produced the most number of artworks is American.
input: What nationality produced the most number of artworks?
sql_cmd: 'SELECT nationality, COUNT(*) AS num_artworks

  FROM artists

  INNER JOIN artworks ON artists.artist_id = artworks.artist_id

  WHERE nationality IS NOT NULL

  GROUP BY nationality

  ORDER BY num_artworks DESC

  LIMIT 5;'
sql_result: '[(''American'', 53955), (''French'', 22116), (''German'', 8920), (''British'',
  5480), ('''', 3273)]'
table_info: "CREATE TABLE artists (\n        artist_id integer NOT NULL,\n       \
  \ name character varying(200)\",\n        nationality character varying(50)\",\n\
  \        gender character varying(25)\",\n        birth_year integer,\n        death_year\
  \ integer,\n        CONSTRAINT artists_pk PRIMARY KEY (artist_id)\n)\n\n/*\n3 rows\
  \ from artists table:\n\"artist_id\"\t\"name\"\t\"nationality\"\t\"gender\"\t\"\
  birth_year\"\t\"death_year\"\n12\t\"Jüri Arrak\"\t\"Estonian\"\t\"Male\"\t1936\t\
  \n19\t\"Richard Artschwager\"\t\"American\"\t\"Male\"\t1923\t2013\n22\t\"Isidora\
  \ Aschheim\"\t\"Israeli\"\t\"Female\"\t\t\n*/\n\nCREATE TABLE artworks (\n     \
  \   artwork_id integer NOT NULL,\n        title character varying(500)\",\n    \
  \    artist_id integer NOT NULL,\n        name character varying(500)\",\n     \
  \   date integer,\n        medium character varying(250)\",\n        dimensions\
  \ text\",\n        acquisition_date text\",\n        credit text\",\n        catalogue\
  \ character varying(250)\",\n        department character varying(250)\",\n    \
  \    classification character varying(250)\",\n        object_number text\",\n \
  \       diameter_cm text\",\n        circumference_cm text\",\n        height_cm\
  \ text\",\n        length_cm text\",\n        width_cm text\",\n        depth_cm\
  \ text\",\n        weight_kg text\",\n        durations integer,\n        CONSTRAINT\
  \ artworks_pk PRIMARY KEY (artwork_id)\n)\n\n/*\n3 rows from artworks table:\n\"\
  artwork_id\"\t\"title\"\t\"artist_id\"\t\"name\"\t\"date\"\t\"medium\"\t\"dimensions\"\
  \t\"acquisition_date\"\t\"credit\"\t\"catalogue\"\t\"department\"\t\"classification\"\
  \t\"object_number\"\t\"diameter_cm\"\t\"circumference_cm\"\t\"height_cm\"\t\"length_cm\"\
  \t\"width_cm\"\t\"depth_cm\"\t\"weight_kg\"\t\"durations\"\n102312\t\"Watching the\
  \ Game\"\t2422\t\"John Gutmann\"\t1934\t\"Gelatin silver print\"\t\"9 3/4 x 6 7/16'\
  \ (24.8 x 16.4 cm)\"\t\"2006-05-11\"\t\"Purchase\"\t\"N\"\t\"Photography\"\t\"Photograph\"\
  \t\"397.2006\"\t\t\t\"24.8\"\t\t\"16.4\"\t\t\t\n103321\t\"Untitled (page from Sump)\"\
  \t25520\t\"Jerome Neuner\"\t1994\t\"Page with chromogenic color print and text\"\
  \t\"12 x 9 1/2' (30.5 x 24.1 cm)\"\t\"2006-05-11\"\t\"E.T. Harmax Foundation Fund\"\
  \t\"N\"\t\"Photography\"\t\"Photograph\"\t\"415.2006.12\"\t\t\t\"30.4801\"\t\t\"\
  24.13\"\t\t\t\n10\t\"The Manhattan Transcripts Project, New York, New York, Episode\
  \ 1: The Park\"\t7056\t\"Bernard Tschumi\"\t\t\"Gelatin silver photograph\"\t\"\
  14 x 18' (35.6 x 45.7 cm)\"\t\"1995-01-17\"\t\"Purchase and partial gift of the\
  \ architect in honor of Lily Auchincloss\"\t\"Y\"\t\"Architecture & Design\"\t\"\
  Architecture\"\t\"3.1995.11\"\t\t\t\"35.6\"\t\t\"45.7\"\t\t\t\n*/"

In [50]:
# Use the corrected examples for few shot prompt examples
with open("sql_examples.yaml", "r") as stream:
    SQL_SAMPLES = yaml.safe_load(stream)

print(SQL_SAMPLES[0])

{'answer': 'There are 15086 rows in the artists table.', 'input': 'How many rows are in the artists table?', 'sql_cmd': 'SELECT count(*) FROM artists;', 'sql_result': '[(15086,)]', 'table_info': 'CREATE TABLE artists\n(\n    artist_id integer NOT NULL,\n    name character varying(200) COLLATE pg_catalog."default",\n    nationality character varying(50) COLLATE pg_catalog."default",\n    gender character varying(25) COLLATE pg_catalog."default",\n    birth_year integer,\n    death_year integer,\n    CONSTRAINT artists_pk PRIMARY KEY (artist_id)\n)\n\n/*\n3 rows from artists table:\n"artist_id"\t"name"\t"nationality"\t"gender"\t"birth_year"\t"death_year"\n1\t"Robert Arneson"\t"American"\t"Male"\t1930\t1992\n2\t"Doroteo Arnaiz"\t"Spanish"\t"Male"\t1936\t\n3\t"Bill Arnold"\t"American"\t"Male"\t1941\t\n*/\n'}

In [15]:
from langchain import FewShotPromptTemplate, PromptTemplate
from langchain.chains.sql_database.prompt import _postgres_prompt, PROMPT_SUFFIX
from langchain.embeddings.huggingface import HuggingFaceEmbeddings
from langchain.prompts.example_selector.semantic_similarity import (
    SemanticSimilarityExampleSelector,
)
from langchain.vectorstores import Chroma

example_prompt = PromptTemplate(
    input_variables=["table_info", "input", "sql_cmd", "sql_result", "answer"],
    template="{table_info}\n\nQuestion: {input}\nSQLQuery: {sql_cmd}\nSQLResult: {sql_result}\nAnswer: {answer}",
)

examples_dict = SQL_SAMPLES

local_embeddings = HuggingFaceEmbeddings(
    model_name="sentence-transformers/all-MiniLM-L6-v2"
)

example_selector = SemanticSimilarityExampleSelector.from_examples(
    # This is the list of examples available to select from.
    examples_dict,
    # This is the embedding class used to produce embeddings which are used to measure semantic similarity.
    local_embeddings,
    # This is the VectorStore class that is used to store the embeddings and do a similarity search over.
    Chroma,  # type: ignore
    # This is the number of examples to produce and include per prompt
    k=min(3, len(examples_dict)),
)

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=_postgres_prompt + "Here are some examples:",
    suffix=PROMPT_SUFFIX,
    input_variables=["table_info", "input", "top_k"],
)

In [16]:
db_chain = SQLDatabaseChain.from_llm(
    llm,
    db,
    prompt=few_shot_prompt,
    use_query_checker=True,
    verbose=True,
    return_intermediate_steps=True,
)

try:
    result = db_chain(QUESTION_09)
except (ProgrammingError, ValueError) as exc:
    print(f"\n\n{exc}")

> Entering new SQLDatabaseChain chain...
How many artworks are by Claude Monet?
SQLQuery:SELECT COUNT(*)
FROM artworks
JOIN artists ON artists.artist_id = artworks.artist_id
WHERE artists.name = 'Claude Monet';
SQLResult: [(6,)]
Answer:There are 6 artworks by Claude Monet.
> Finished chain.

## LangChain SQL Database Agent

According to LangChain [documentation](https://python.langchain.com/en/latest/modules/agents/toolkits/examples/sql_database.html#sql-database-agent), the SQL Database Agent is "_builds off of `SQLDatabaseChain` and is designed to answer more general questions about a database, as well as recover from errors._" __NOTE__: _it is not guaranteed that the agent won’t perform DML statements on your database given certain questions. Be careful running it on sensitive data!_"

In [17]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.agents import AgentExecutor

In [18]:
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent_executor = create_sql_agent(llm=llm, toolkit=toolkit, verbose=True)

try:
    agent_executor.run("Describe the artists table")
except (ProgrammingError, ValueError) as exc:
    print(f"\n\n{exc}")

> Entering new AgentExecutor chain...
Action: list_tables_sql_db
Action Input: ""
Observation: artists, artworks
Thought: I should look at the schema of the artists table
Action: schema_sql_db
Action Input: "artists"
Observation: CREATE TABLE artists (
        artist_id integer NOT NULL,
        name character varying(200)",
        nationality character varying(50)",
        gender character varying(25)",
        birth_year integer,
        death_year integer,
        CONSTRAINT artists_pk PRIMARY KEY (artist_id)
)

/*
3 rows from artists table:
"artist_id"	"name"	"nationality"	"gender"	"birth_year"	"death_year"
12	"Jüri Arrak"	"Estonian"	"Male"	1936
19	"Richard Artschwager"	"American"	"Male"	1923	2013
22	"Isidora Aschheim"	"Israeli"	"Female"
*/
Thought: I now know the final answer
Final Answer: The artists table contains the columns artist_id, name, nationality, gender, birth_year, and death_year. Examples of artists in the table include Jüri Arrak, Richard Artschwager, and Isidora Aschheim.

> Finished chain.